* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: blue;
}

li {
    list-style-type: none;
}

a {
    text-decoration: yellow;
    color: black;
}

h1 {
    margin: 10px 0;
    line-height: 1.2;
    font-weight: 300;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/*navbar*/
.navar{
    height: 70px;
    color: white;
}

/*utilities*/
.container {
    max-width: 10100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}

.flex {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav .flex {
    justify-content: space-between;
}

.nav ul {
    display: flex;
}

.nav a{
    color: black;
    margin: 0 5;
    padding: 10px;
}

.nav a:hover{
    color: yellow;
}